*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    background-color: #5b52bc;
}

.parallaxImgMobile {
    position: absolute;
    opacity: 0;
    animation-name: moverLogo;
    animation-duration: 1.0s;
    animation-timing-function: ease-out;
    animation-delay: 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: both; 
}

.parallaxDivMobile {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 768px;
    position: relative;
}

.empresaNomeMobile {
    font-size: 2rem;
    font-weight: bold;
    color: #fff;
    position: absolute;
    opacity: 0;
    font-family: 'Roboto', sans-serif;
    transform: translateX(100%) translateY(50px);
    animation: aparecerNome 1s ease-out forwards;
    animation-delay: 1.5s;
}

@keyframes moverLogo {
    0% {transform: translateY(0) scale(0) rotate(-45deg);opacity: 0;}

    100% {transform: translateY(-50px) scale(0.4) rotate(0deg);opacity: 1;}
}

@keyframes aparecerNome {
    0% {transform: translateX(100%) translateY(50px);}

    100% { transform: translateX(5%) translateY(50px);opacity: 1;}
}
