* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 64px;
    padding: 8px 32px;
    background: #141414;
}

.logo {
    aspect-ratio: 1 / 1;

    & img {
        height: 100%;
        }
}   


.menu-btn {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.menu-btn div {
    width: 30px;
    height: 4px;
    background: white;
    margin: 5px 0;
    transition: 0.4s;
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

@media (max-width: 768px) {
    .menu-btn {
        display: flex;
    }

    .nav-links {
        position: absolute;
        top: 64px; /* Define a posição abaixo do menu */
        left: 0;
        width: 30%; /* Para ocupar toda a largura */
        background: #333;
        flex-direction: column;
        align-items: center;
        display: none;
        padding: 10px;
    }

    .nav-links.show {
        display: flex;
    }
}