@import url("./root.css");

body, html {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

.bg-video {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
}

#header-main {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 64px;
    padding: 8px 32px;
    background: rgba(0, 0, 0, 0.15);
}

#logo {
    aspect-ratio: 1 / 1;
    
    & img {
        height: 100%;
        }
}

#menu {
    display: flex;
    align-items: center;

    & li {
        list-style-type: none;
        color: white;
        cursor: pointer;
    }

    & ul {
        display: flex;
        gap: 16px;
    }
}

.menu-select {
    text-decoration: underline;
}

#f-container {
    width: 100%;
    height: 100%;
    padding-bottom: 5%;
    display: flex;
    row-gap: 48px;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 18%;
}

#search-container {
    height: 1fr;
    margin: 0 20%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    row-gap: 16px;

    & h2 {
        font-size: 32px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        color: white;
    }
}

#search-input {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" stroke="black" stroke-width="2" d="M15 15L21 21M10 18C14.4183 18 18 14.4183 18 10C18 5.58172 14.4183 2 10 2C5.58172 2 2 5.58172 2 10C2 14.4183 5.58172 18 10 18Z"/></svg>');
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 10px center;
    padding-left: 40px;
    width: 100%;
    height: 64px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
    font-size: 18px;
}

#posters {
    display: flex;
    flex-direction: row;
    gap: 24px;
    height: fit-content;
    white-space: nowrap;
    overflow-x: auto;
    background: rgba(0, 0, 0, 0.5);
    padding: 16px;
    border-radius: 5px;
    position: relative;
    bottom: -500px;
    top: unset;
    transition: bottom 0.5s;

    & img {
        height: 240px;
        width: auto;
    }
}

#posters-wrapper {
    overflow: visible;
    margin: 0% 10%;
}

#posters::-webkit-scrollbar {
    height: 8px; 
    width: 8px;
}

#posters::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 4px;
}

#posters::-webkit-scrollbar-thumb:hover {
    background-color: rgba(150, 150, 150, 0.8);
}

.button-container {
    text-align: center;
    margin-top: 20px;
    position: absolute;
}

.button-container button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.mostrando {
    & #posters {
        top: 60%;
        bottom: unset;
    }

}
