@import url("./root.css");

body, html {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

.bg-video {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
}

#header-main {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 64px;
    padding: 8px 32px;
    background: rgba(0, 0, 0, 0.15);
}

#logo {
    aspect-ratio: 1 / 1;
    
    & img {
        height: 100%;
        }
}

#menu {
    display: flex;
    align-items: center;

    & li {
        list-style-type: none;
        color: white;
        cursor: pointer;
    }

    & ul {
        display: flex;
        gap: 16px;
    }
}

.menu-select {
    text-decoration: underline;
}

#search-container {
    height: 100%;
    background-color: red;
    margin: 0 20%;
}