@import url("./root.css");

body, html {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

.bg-video {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
}

#header-main {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 64px;
    background-color: red;
    padding: 8px 32px;

}

#logo {
    aspect-ratio: 1 / 1;
}

#logo {

    &> img {
    height: 100%;
    }
}

#menu {
    display: flex;
    align-items: center;

    & li {
        list-style-type: none;
    }

    & ul {
        display: flex;
        gap: 8px;
    }
}

.menu-select {
    text-decoration: underline;
}